

.displayContainer{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 30px;
    text-align: center;
    overflow: hidden;
    padding: 12px 220px;
}

.tableHead{
    background-color: #2C6B7D;
}

.noRecordMsg{
    margin-top: 5em;
}

.btn {
    background-color: #2C6B7D;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
    text-decoration: none;
    border: none;
    height: 32px;
    width: 60px;
}

.body{
    color: white;
}

.addIcon{
    float:right;
    font-size: 4em; 
    margin-bottom: 25px;
}

.modalIcons {
    font-size: 4em; 
}

.editIcon{
    font-size: 1.5em;
}

.deleteIcon{
    margin-left: 15px;
    font-size: 1.5em;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

table{
    width: 100%;
    font-size: 1.5em;
}

.modal-header{
    background-color: #2C6B7D;
    color: white;
}

.modal-body {
    font-size: 1.5em;
    color: #2C6B7D;
    font-weight: bold;
}

.modal-footer{
    background-color: #2C6B7D;
    color: white;
    height: 72px;
}

