<div class="displayContainer body">
        <i class="material-icons addIcon" (click)="openModal(content, 'new')">add_circle</i>
  <table class="body">
      <thead class="tableHead">
          <tr>
              <th>Name</th>
              <th>Date Of Birth</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody *ngIf="isDataLoaded">
          <tr *ngFor="let item of list">
              <td style="text-align: left"> {{ item.name }} </td>
              <td> {{ item.dob }} </td>
              <td> {{ item.email }}</td>
              <td> {{ item.contact }} </td>
              <td> 
                <i class="material-icons editIcon" (click)="editUser(item, content, 'update')">edit</i>  
                <i class="material-icons deleteIcon" (click)="deleteUser(item)">delete</i>
              </td>
          </tr>
      </tbody>
  </table>
  <h4 class="noRecordMsg" *ngIf="!isDataLoaded">No Records in the Table. Please add Users</h4>
</div>

<ng-template #content let-d="dismiss">
<div class="modal-header">
    <h4>Enter user details</h4>
</div>
<div class="modal-body">
    <form>
        <label>Name</label>
        <div>
            <input type="text" [(ngModel)]="newUser.name" name="name">
        </div>
        <label>Date Of Birth</label>
        <div>
            <input type="date" [(ngModel)]="newUser.dob" name="dob">
        </div>
        <label>Email Id</label>
        <div>
            <input type="email" [(ngModel)]="newUser.email" name="email">
        </div>
        <label>Contact</label>
        <div>
            <input type="tel" [(ngModel)]="newUser.contact" name="contact">
        </div>
    </form>
</div>
<div class="modal-footer">
    <i class="material-icons modalIcons" (click)="submit()" (click)="d()">check</i>
    <i class="material-icons modalIcons" (click)="resetNewUser()" (click)="d()">close</i>
</div>
</ng-template>
