/* You can add global styles to this file, and also import other style files */
.body{
    background: rgba(55,153,179,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(55,153,179,1) 0%, rgba(44,107,125,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(55,153,179,1)), color-stop(100%, rgba(44,107,125,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(55,153,179,1) 0%, rgba(44,107,125,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(55,153,179,1) 0%, rgba(44,107,125,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(55,153,179,1) 0%, rgba(44,107,125,1) 100%);
background: radial-gradient(ellipse at center, rgba(55,153,179,1) 0%, rgba(44,107,125,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3799b3', endColorstr='#2c6b7d', GradientType=1 );
background-size: cover;
}
